* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
}


/* Add a gray background color with some padding */


/* 
l1 
#eff4f9
l2 
#cadbeb
l3 
#95b8d7
l4 
#5f94c2
l5 
#3b6f9d
l6 
#274a68
*/

body {
    padding: 10px;
    background: #e4eaf0;
}


/* Header/Blog Title */

.header {
    padding: 10px;
    line-height: 15px;
    font-size: 25px;
    text-align: center;
    color: #dfedfa;
    background: #0f406b;
}


/* Navigation Bar */

.navbar {
    width: 100%;
    background-color: #cadbeb;
    overflow: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar a {
    float: left;
    padding: 12px;
    color: #274a68;
    text-align: center;
    padding: 14px 16px;
    width: 16.6%;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #95b8d7;
}

.navbar a.active {
    background-color: #5f94c2;
    color: #f5faff;
}


/* Add a card effect for articles */

.homecard {
    text-align: center;
    background-color: #95b8d7;
    padding: 20px;
    line-height: 13px;
    font-size: 18px;
    color: #274c6d;
    margin-top: 20px;
    /* height: 74vh; */
}


/* Add a card effect for entries */

.card {
    background-color: #95b8d7;
    padding: 20px;
    /* line-height: 8px; */
    font-size: 18px;
    color: #274c6d;
    margin-top: 20px;
}


/* Fake image */

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.styledimg {
    background-image: url(/images/config_ref.jpg);
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */

.footer {
    padding: 10px;
    text-align: center;
    background: #ddd;
    margin-top: 10px;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        /* If you want the text to be left-aligned on small screens */
    }
}